<script>
  this.querySelector
  this.innerHTML += this.data.note.key
  const freq = this.data.note.freq
  const startPlayback = () => this.data.instrument.play(freq)
  const slideFrequency = () => this.data.instrument.slide(freq)
  const stopPlayback = () => this.data.instrument.stop()
  this.addEventListener("mousedown", startPlayback)
  this.addEventListener("mouseenter", slideFrequency)
  this.addEventListener("mouseup", stopPlayback)
</script>

<style>
  this {
    background: white;
    color: black;
    user-select: none;
    font-weight: bold;
    padding-left: .75rem;
  } this:hover {
    background: black;
    color: white;
    cursor: pointer;
  } this:not(:hover) {
    /* fade out on hove exit */
    animation: fade-out 0.5s;
    animation-fill-mode: backwards;
  }
  @keyframes fade-out {
    0% { background: rgb(0,0,0); color: rgb(255,255,255); } 
    20% { background: rgb(195,195,195); color: rgb(195,195,195); } 
    100% { background: rgb(255,255,255); color: rgb(0,0,0); } 
  }
</style>