<div class="notes"></div>

<script>
  const firstOctave = -2
  const lastOctave = 2
  const noteNames = ["C", "C#", "D", "D#", "E", "F", "F#", "G", "G#", "A", "A#", "B"]
  const semitoneStep = Math.pow(2, 1/12)
  const noteFreqs = noteNames.map((_, i) => 440 * Math.pow(semitoneStep, i - 9))
  const notes = this.querySelector(".notes")
  const updateVisibility = () => this.style.display = this.data ? "flex" : "none"
  const freqToNote = freq => Math.round(12 * Math.log2(freq / 440) + 9)
  const freqToNoteName = freq => noteNames[freqToNote(freq) % 12] 
  const freqToOctave = freq => Math.floor(freqToNote(freq) / 12) - 1
  const eachNote = (fn) => {
    for (let octave = firstOctave; octave <= lastOctave; octave++) {
      for (let note = 0; note < 12; note++) {
        const freq = noteFreqs[note] * Math.pow(2, octave)
        const noteName = noteNames[note]
        fn({ octave, freq, noteName })
      }
    }
  }

  // create note area
  const timestepColumn = document.createElement("div")
  timestepColumn.classList.add("timestep-column")
  eachNote((note) => {
    const row = document.createElement("div")
    row.classList.add("row")
    row.append(this.create("sequencer/key", note))
    for (let beat = 0; beat < 16; beat++) {
      row.append(this.create("sequencer/note", {...note, toggle: () => {
        this.data.toggle(beat, note)
      }}))
    }
    notes.prepend(row)
  })
  
  // wait for data
  this.setPattern = (pattern) => {
    this.data = pattern
    updateVisibility()
    if (!pattern) return
    const sequence = pattern.sequence
    const rows = notes.querySelectorAll(".row")
    for (let i = 0; i < rows.length; i++) {
      const step = sequence[i]
      const row = rows[i]
      const notes = row.querySelectorAll(this.query("sequencer/note"))
      for (let j = 0; j < notes.length; j++) {
        notes[j].classList.toggle("active", step[j])
      }
    }
  }
  this.setPattern(this.data)
</script>

<style>
  this {
    background: rgb(44, 87, 33);
    flex-direction: column;
    max-height: 23rem;
    overflow-x: hidden;
    overflow-y: scroll;

    .notes {
      flex: 1;
    }

    .row {
      flex: 1;
      display: flex;
      flex-direction: row;
    } .row:hover {
      opacity: 0.8;
    } .row :first-child {
      width: 5rem;
    } .row :nth-child(2n+2) {
      background: #0002
    } .row :nth-child(4n+2) {
      border-left: 5px solid black;
    }
  }
</style>