-

<script>
  this.onclick = () => {
    this.data.toggle()
    this.classList.toggle("active")
  }
</script>

<style>
  this {
    flex: 1;
    text-align: center;
    user-select: none;
    cursor: pointer;
  } this.active {
    background: white !important;
    color: black;
  } this:hover {
    z-index: 5;
  } this:hover:not(.active) {
    background: black !important;
    color: white;
  } this:hover.active {
    margin: -2px;
    border: 2px solid black;
  } this:active {
    margin: -2px;
    border: 2px solid black;
  }
</style>