-

<script>
  const toggle = () => {
    this.classList.toggle("active")
    this.data.toggle()
  }
  this.addEventListener("mousedown", toggle)
  this.addEventListener("mouseenter", () => {
    if (event.buttons === 1) toggle()
  })
</script>

<style>
  this {
    flex: 1;
    text-align: center;
    user-select: none;
    cursor: pointer;
    border-bottom: 1px solid #0003;
  } this.active {
    background: white !important;
    color: black;
  } this:hover {
    z-index: 5;
  } this:hover:not(.active) {
    background: black !important;
    color: white;
  } this:hover.active {
    margin: -2px;
    border: 2px solid black;
  } this:hover:active {
    margin: -2px;
    border: 2px solid black;
  }
</style>