<div class="header">
  Track <span class="trackId">#</span>
</div>

<script>
  this.querySelector(".trackId").textContent = this.data.id
  this.setAttribute('trackId', this.data.id)
  console.log("track data", this.data)
  for (let wave of this.data.waves) {
    this.appendChild(this.create("composer/wave", wave))
  }
</script>

<style>
  this {
    display: flex;
    background: #852680;
    .header {
      font-size: 1.25rem;
      margin: auto 0;
      font-weight: bold;
      padding: 0 1rem;
    }
  }
  this:nth-child(even) {
    background: #4f1d4a;
  }
</style>